body {
    background-color: black;
    background-image: url('https://sportshub.cbsistatic.com/i/2022/11/19/d370b9b1-079f-4487-8826-bd49b893a9b4/attack-on-titan-eren.jpg?width=1200');
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 3em;
}